# Default ignored files

workspace.xml

factory-method/desafio-logger/.idea
factory-method/maladireta/.idea
factory-method/maladireta-cliente/.idea
factory-method/maladireta-lib/.idea
abstrat-factory/desafio/venda-produto/.idea
abstrat-factory/modulo-pagamento-abstract-factory/.idea
abstrat-factory/modulo-pagamento-acoplado/.idea
abstrat-factory/modulo-pagamento-acoplado/target/
abstrat-factory/modulo-pagamento-abstract-factory/target/
abstrat-factory/desafio/venda-produto/target/
builder/pedido-venda/.idea/
builder/pedido-venda/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

factory-method/maladireta/.idea/compiler.xml
factory-method/maladireta/.idea/misc.xml
builder/pedido-venda/pedido-venda.iml
factory-method/desafio-logger/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

factory-method/maladireta-cliente/target/
factory-method/maladireta-lib/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

.env

*.ipr
*.iml
*.iws
